# Required to run prettier from the root folder since it doesn't respoect nested .prettierignore files
examples/*/qase/
examples/cypress/cypress/reports/
*/dist
*/coverage
qaseio/src/generated
qase-api-client/src
qase-api-v2-client/src
