name: Node package

on:
  push:
  pull_request:
    branches:
      - 'main'

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        node-version: [ '20', '22' ]
        prefix: [ "qase-api-client", "qase-api-v2-client", "qase-javascript-commons", "qase-cypress", "qase-cucumberjs", "qase-newman", "qase-testcafe", "qase-jest", "qase-playwright", "qase-mocha", "qase-wdio", "qase-vitest" ]
    name: Project ${{ matrix.prefix }} - Node ${{ matrix.node-version }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build -ws --if-present
    - run: npm run lint -w ${{ matrix.prefix }}
    - run: npm run test -w ${{ matrix.prefix }}

  build-n-publish:
    runs-on: ubuntu-latest
    needs: test
    strategy:
      max-parallel: 5
      matrix:
        prefix: [ "qase-api-client", "qase-api-v2-client", "qase-javascript-commons", "qase-cypress", "qase-cucumberjs", "qase-newman", "qase-testcafe", "qase-jest", "qase-playwright", "qase-mocha", "qase-wdio", "qase-vitest" ]
    if: startsWith(github.event.ref, 'refs/tags')
    name: Publish ${{ matrix.prefix }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      if: contains(github.event.ref, matrix.prefix)
      with:
        node-version: '20'
        registry-url: 'https://registry.npmjs.org'

    - name: Update npm
      run: npm install -g npm@latest    
    - name: Install dependencies
      if: contains(github.event.ref, matrix.prefix)
      run: npm ci

    - name: Build a Node package
      if: contains(github.event.ref, matrix.prefix)
      run: npm run build -ws --if-present

    - name: Publish a release version
      if: contains(github.event.ref, matrix.prefix) && !contains(github.event.ref, 'beta')
      run: npm publish -w ${{ matrix.prefix }}

    - name: Publish a beta version
      if: contains(github.event.ref, matrix.prefix) && contains(github.event.ref, 'beta')
      run: npm publish -w ${{ matrix.prefix }} --tag beta
