name: Node package

on:
  workflow_dispatch: 
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        node-version: [ '16', '18' ]
        prefix: [ "qaseio", "qase-javascript-commons", "qase-cypress", "qase-cucumberjs", "qase-newman", "qase-testcafe", "qase-jest", "qase-playwright", "qase-mocha", "qase-wdio" ]
    name: Project ${{ matrix.prefix }} - Node ${{ matrix.node-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build -ws --if-present
    - run: npm run lint -w ${{ matrix.prefix }}
    - run: npm run test -w ${{ matrix.prefix }}

  build-n-publish:
    runs-on: ubuntu-latest
    needs: test
    strategy:
      max-parallel: 5
      matrix:
        prefix: [ "qaseio", "qase-javascript-commons", "qase-cypress", "qase-cucumberjs", "qase-newman", "qase-testcafe", "qase-jest", "qase-playwright", "qase-mocha", "qase-wdio" ]
    if: startsWith(github.event.ref, 'refs/tags')
    name: Publish ${{ matrix.prefix }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      if: contains(github.event.ref, matrix.prefix)
      with:
        node-version: '16'
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      if: contains(github.event.ref, matrix.prefix)
      run: npm ci

    - name: Build a Node package
      if: contains(github.event.ref, matrix.prefix)
      run: npm run build -ws --if-present

    - name: Publish a release version
      if: contains(github.event.ref, matrix.prefix) && !contains(github.event.ref, 'beta')
      run: npm publish -w ${{ matrix.prefix }}
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Publish a beta version
      if: contains(github.event.ref, matrix.prefix) && contains(github.event.ref, 'beta')
      run: npm publish -w ${{ matrix.prefix }} --tag beta
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
